<h2>Post :</h2>

<br/>

<% @posts.each do |post| %>

  <h3><%= post.title %></h3>
  <h4><%= post.content %></h4>

 <h4>User: <%= post.user.try(:username) %></h4>

  <a href="<%= post_path(post.id) %>" class="btn btn-primary">details</a>
  <a href="<%= post_path(post.id) %>" class="btn btn-danger" data-confirm="Are you sure?" data-method="DELETE">delete</a>

  <br/>
  <br/>
  <br/>

<% end %>

  <br/>
  <br/>

<a href="<%= new_post_path %>" class="btn btn-success">New post</a>
